@import "tailwindcss";

@layer utilities{
  .text-gradient{
    @apply bg-gradient-to-r from-white to-[rgb(54,3,90)] bg-clip-text text-transparent
  }

  .center-items{
    @apply flex flex-col justify-center items-center
  }

  .bg-img{
  
    background-image: url(/BG.png);
    background-position: center top;
    width: 100%;

    @apply bg-cover bg-no-repeat 
  }
}

@layer components{
  .movie-card{
    @apply bg-gray-900 p-2 border-1 border-gray-800 shadow-2xl m-4 hover:scale-105 bg-gradient-to-b from-gray-900 to-indigo-950 h-110 w-60 relative cursor-pointer
  }

  .movie-poster{
    @apply object-cover w-full h-full}

  .movie-insights{
    font-size: 13px;
    @apply flex items-center absolute text-gray-400
}

  .dot{
    @apply h-1 w-1 bg-gray-400 rounded-full mx-2
  }

  .back-icon{
    @apply h-8 w-8 cursor-pointer 
  }
}

.movie-title{
  font-weight: bold;
  color: white;
  font-family: sans-serif;
  font-size: 15px;
}





